* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
#container {
    width: 1200px;
    margin: 25px auto;
    background-color: #fff;
    border-radius: 8px;
}
#header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid;
}
.titulo {
    padding: 15px;
    float: left;
    
}
.titulo span {
    font-style:italic;
    
    
}
.sair {
    padding: 15px;
    float: right;
}

.sair a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.sair a:hover, a:active {
    background-color: red;
}
#footer {
    text-align: center;
    width: 100%;
    clear: both;
    background-color: #008B8B;
}
#footer p {
    padding: 10px;
    color:#fff;
}
#content {
    width: 100%;
}
#content #menu {
    width: 20%;
    float: left;
}
#content #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    text-align: left;    
}

#content #menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#content #menu li a.active {
    background-color: #008B8B;
    color: white;
}

#content #menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#content #content-main {
    width: 80%;
    float: left;
}
#home {
    width: 100%;
    text-align: center;
}
#home img {
    width: 70%;
}

/*****CSS DOS GRIDS *****/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #008B8B;
    color: white;
}

table a {
    text-decoration: none;
    color: #000;
}
table img {
    width: 80px;
}

.box_titulo_interno {
    width: 100%;
}
.box_link {
    width: 100%;
}
.box_link a:link, a:visited {
    background-color: #008B8B;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.box_link a:hover, a:active {
    background-color: #555;
}


/*********CSS DOS FORMULÁRIOS DE CADASTROS******/
div .formulario{
    background-color: #f2f2f2;
    width: 80%;
    padding: 10px;
    margin: auto;
}

div .formulario input[type=text],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div .formulario input[type=submit] {
    width: 100%;
    background-color: #008B8B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div .formulario input[type=submit]:hover {
    background-color: #45a049;
}